################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Singsiam/FileContentIndex/86cb1955-fedc-431c-8f52-aad059fe9e6c.vsidx
